@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Shadows+Into+Light&display=swap');

header {
  font-family: "Gugi", "Times New Roman", serif;
}

figure {
  font-family: "Shadows Into Light", "Helvetica", sans-serif;
  border-style: solid;
  border-width: thin;
  width: 375px;
  height: 330px;
  text-align: center;
  padding: 20px;
}

figcaption {
  text-align: right;
}
